<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
</head>
<title>{% block title %}{% endblock %} Haroon Khazi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="styles/layout.css" rel="stylesheet" type="text/css" media="all">
<nav id="mainav" class="hoc clear">
  <ul class="clear">
    <li><a href="/home">Home</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/wip">WIP</a></li>
  </ul>
</div>
<body class="w3-black">
<div id="content">{% block content %}{% endblock %}</div>
<footer class="w3-container w3-center w3-margin-top" style="color:#ff0000;background-color:#333333">
  {% block footer %}
  <a href="https://www.github.com/haroonkhazi"><i class="fab fa-github" style="font-size:24px;"></i></a>
  <a href="https://www.linkedin.com/in/haroonkhazi"><i class="fab fa-linkedin" style="font-size:24px;"></i></a>
</footer>
{% endblock %}
</body>
</html>
