<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
</head>
<title>Haroon Khazi</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: Helvetica Neue; font-weight: 500;}
</style>
<body class="w3-black">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/static/haroonkhazi.jpg" style="width:100%" alt="Avatar">
        </div>
        <div class="w3-container" style="background-color:#333333;color:#a6a6a6;">
          <h2>Haroon Khazi</h2>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large" style="color:#771E44;"></i>Computer Scientist</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large" style="color:#771E44;"></i>Bloomfield Hills,MI US</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large" style="color:#771E44;"></i>haroonkhazi@gmail.com</p>
          <p><a href="/download" target="_blank" style="color:#ff0000;">Download Resume</a><p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right" style="color:#771E44;"></i>Programming Languages</b></p>
          <p>Python</p>
          <p>Java</p>
          <p>C</p>
          <p>perl</p>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right" style="color:#771E44;"></i>Libraries and other</b></p>
          <p>Flask</p>
          <p>SciKit-Learn</p>
          <p>PostGres</p>
          <p>Keras</p>

          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-margin-bottom" style="background-color:#333333;">
        <h2 class="w3-padding-16" style="color:#a6a6a6"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge" style="color:#771E44;"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Case Western Reserve University</b></h5>
          <h6 style="color:#ff0000;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2015 - 2019</h6>
          <p>Bachelor's Degree</p>
          <h6 style="color:#a6a6a6"><b>Courses Taken</b></h6>
          <p>Data Structures | Cryptography | Discrete Maths | Algorithms | Operating Systems | Networks Circuits | Signals and Systems | Programming Language Concepts | Theoretical Computer Science
Applied Graph Theory | Databases | Data Mining | Connected Devices | Computer Architecture</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 style="color:#a6a6a6"><b>International Academy</b></h5>
          <h6 style="color:#ff0000;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2015</h6>
          <p>International Baccalaureate Diploma</p><br>
        </div>
      </div>

      <div class="w3-container w3-card" style="background-color:#333333;">
        <h2 class="w3-opacity w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge" style="color:#771E44;"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Resarch Assistant / Oakland University</b></h5>
          <h6 style="color:#ff0000;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2018 - August 2018</h6>
          <p>Research regarding machine learning and how it can be applied to the stock market. This was specifically done in Python, using the Sci-Kit Learn library. </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Research Assistant / Biomedical Health Informatics Center</b></h5>
          <h6 style="color:#ff0000;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>January 2018 - April 2018</h6>
          <p>Testing in Java and creation of code for the use in patient data, specifically in the use of seizure data capture and processing.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Data Analyst Intern / Oakland County</b></h5>
          <h6 style="color:#ff0000;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2017 - August 2017</h6>
          <p>Using raw service centre data, compiling it, and presenting it in a digestible manner. Data was collected using perl and scouring through large freeform text files.
            Compilation and analysis took place in Excel. Further programming was done in Microsoft VBA for Excel to develop a tool to help governments manage technology costs.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Research Assistant / Genetics and Genomic Sciences Department</b></h5>
          <h6 style="color:#ff0000;"><i class="fa fa-calendar fa-fw w3-margin-right"></i>September 2016 - April 2017</h6>
          <p>Research in relation to the genetics of ASD patients and genetic diversion between human populations separated by countries.
            This required parsing through genetic databases to find overlaps and computing involving these large files, using perl.
            Furthermore, processing data files and analysis on the experiment results using R.</p>
          <br>
      </div>



    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-center w3-margin-top" style="color:#ff0000;background-color:#333333">
  <a href="https://www.github.com/haroonkhazi"><i class="fab fa-github" style="font-size:24px;"></i></a>
  <a href="https://www.linkedin.com/in/haroonkhazi"><i class="fab fa-linkedin" style="font-size:24px;"></i></a>
  <p>
    <a href="/home" target="_blank">home</a>
    <a href="/resume" target="_blank">resume</a>
    <a href="/wip" target="_blank">wip</a>
  </p>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

</footer>

</body>
</html>
